@import "../../assets/styles/colors.scss";
@import "../../assets/styles/text.scss";

.gsm-btn {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;

    &:focus {
        outline: 0;
    }

    &.primary {
        background-color: $gsm-blue;
        color: white;

        &:hover {
            background-color: $gsm-dark-blue;
        }
    }

    &.transparent {
        background-color: unset;
        color: $gsm-blue;
        border: 1px solid $gsm-blue;

        &:hover {
            background-color: $gsm-blue;
            color: white;
        }
    }

    &.light {
        border: 1px solid $gsm-light-grey;

        &:hover {
            background-color: $gsm-light-grey;
        }
    }
}