button {
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
}

button:focus {
    outline: 0;
}

.primary {
    background-color: blue;
    color: white;
}

.primary:hover {
    background-color: darkblue;
}



.transparent {
    background-color: none;
    color: blue;
    border: 1px solid blue;
}

.transparent:hover {
    background-color: blue;
    color: white;
}



.light {
    border: 1px solid grey;
}

.light:hover {
    background-color: grey;
}